@import "tailwindcss";

@theme {
  --spacing-header: 120px;
  --spacing-footer: 60px;
  --font-geo: "Geo", sans-serif;
  --font-vt: "VT323", monospace;
  --font-mono: "JetBrains Mono Variable", monospace;
  --font-mega: "Lexend Mega Variable", sans-serif;
  --font-sans: "Public Sans Variable", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-light: var(--light);
  --color-medium: var(--medium);
  --color-dark: var(--dark);
  --color-text-light: var(--text-light);
  --color-text-dark: var(--text-dark);

  --drop-shadow-reverse: -2px -2px var(--color-foreground);
  --drop-shadow-xxs: 2px 2px var(--color-foreground);
  --drop-shadow-xs: 4px 4px var(--color-foreground);
  --drop-shadow-s: 6px 6px var(--color-foreground);
  --drop-shadow-m: 10px 10px var(--color-foreground);
  --drop-shadow-l: 12px 12px var(--color-foreground);
  --drop-shadow-xl: 14px 14px var(--color-foreground);
}

:root {
  --background: #f9f6f3;
  --foreground: #2d2d2d;
  --accent: #ff008c;
  --light: #ece7e1;
  --medium: #d6cfc7;
  --dark: #bcafa2;
  --text-light: #f9f6f3;
  --text-dark: #2d2d2d;
}
