---
import CardLayout from "../../layouts/CardLayout.astro";
import { Image } from "astro:assets";
import me from "../../img/me.jpg";
---

<h2
  class="mb-20 text-right font-sans text-8xl font-thin wrap-break-word uppercase"
>
  About <span class="font-black">Me</span>
</h2>
<div class="grid items-start gap-x-20 gap-y-10 xl:grid-cols-2">
  <CardLayout>
    <p>
      Dolorem ullamcorper conubia, molestias quod, pharetra incididunt, gravida
      consectetuer scelerisque adipiscing ultrices? Dicta iaculis tempora sed
      accumsan reiciendis praesent minima veritatis ridiculus rutrum voluptates,
      esse adipiscing! Tellus voluptate donec! Quidem vel diam? Praesent mus
      ornare porttitor quis nostra, viverra consectetur, vitae? Eget parturient
      distinctio pretium? Sit nullam tempora, laboris odit facilisis nunc nisl
      euismod, ipsum, molestie quam, eligendi, perspiciatis dignissimos? Eos?
      Eveniet purus dolores, ipsum. Minima? Pede commodi aenean blandit natus
      harum optio dictum dapibus elementum?
    </p>
  </CardLayout>
  <CardLayout>
    <div class="flex items-start gap-4">
      <Image
        src={me}
        alt="Picture of me"
        class="rounded-lg"
        width="150"
        height="150"
      />
      <p>
        Dolorem ullamcorper conubia, molestias quod, pharetra incididunt,
        gravida consectetuer scelerisque adipiscing ultrices? Dicta iaculis
        tempora sed accumsan reiciendis praesent minima veritatis ridiculus
        rutrum voluptates, esse adipiscing! Tellus voluptate donec! Quidem vel
        diam?
      </p>
    </div>
  </CardLayout>
</div>
