---
import CardLayout from "../../layouts/CardLayout.astro";
---

<h2
  class="mb-8 text-right font-sans text-8xl font-thin wrap-break-word uppercase"
  lang="en"
>
  Hero Component
</h2>
<CardLayout>
  <p>This is the hero component. You can put any content you want here.</p>
</CardLayout>
