---
import CardLayout from "../../layouts/CardLayout.astro";
---

<h2 class="mb-20 text-right font-sans text-8xl font-thin wrap-break-word uppercase">
  Other <span class="font-black">Section</span>
</h2>
<div class="grid gap-20 md:grid-cols-2 items-start">
  <CardLayout>
    <p>
      Dolorem ullamcorper conubia, molestias quod, pharetra incididunt, gravida
      consectetuer scelerisque adipiscing ultrices? Dicta iaculis tempora sed
      accumsan reiciendis praesent minima veritatis ridiculus rutrum voluptates,
      esse adipiscing! Tellus voluptate donec! Quidem vel diam? Praesent mus
      ornare porttitor quis nostra, viverra consectetur, vitae? Eget parturient
      distinctio pretium? Sit nullam tempora, laboris odit facilisis nunc nisl
     
    </p>
  </CardLayout>
  <CardLayout>
    <p>
      Dolorem ullamcorper conubia, molestias quod, pharetra incididunt, gravida
      consectetuer scelerisque adipiscing ultrices? Dicta iaculis tempora sed
      accumsan reiciendis praesent minima veritatis ridiculus rutrum voluptates,
      esse adipiscing! Tellus voluptate donec! Quidem vel diam? Praesent mus
      ornare porttitor quis nostra, viverra consectetur, vitae? Eget parturient
      distinctio pretium? Sit nullam tempora, laboris odit facilisis nunc nisl
      euismod, ipsum, molestie quam, eligendi, perspiciatis dignissimos? Eos?
      Eveniet purus dolores, ipsum. Minima? Pede commodi aenean blandit natus
      harum optio dictum dapibus elementum? Enim eiusmod quia hic! Lacinia,
      deserunt itaque molestiae incidunt justo possimus? Primis pulvinar?
      Doloribus fuga culpa, euismod et nisi dolore! Sit platea? Nemo conubia.
    </p>
  </CardLayout>
</div>
