---
import SiteLayout from "../layouts/SiteLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import { SECTIONS } from "../config/sections";
---

<SiteLayout>
  <main>
    {
      SECTIONS.map(({ id, component: Component, backgroundColor }) => (
        <SectionLayout id={id} class={backgroundColor}>
          <Component />
        </SectionLayout>
      ))
    }
  </main>
</SiteLayout>
