---
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout>
  <main
    class="flex flex-col container mx-auto pt-header min-h-[calc(100svh-var(--spacing-footer))]"
  >
    <section class="hero"></section>
  </main>
</SiteLayout>
