---
import SiteLayout from "../layouts/SiteLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SiteLayout>
  <main class="pt-header">
    <SectionLayout class="text-4xl" id="1">
      <h2 class="font-geo text-right text-8xl font-black">Section 1</h2>
    </SectionLayout>
    <SectionLayout id="2">
      <h2 class="font-geo text-right text-8xl font-black">Section 2</h2>
    </SectionLayout>
  </main>
</SiteLayout>
