---
const { id, class: className } = Astro.props;
import { cn } from "../lib/cn";
---

<section id={id} class:list={cn("min-h-svh", className)}>
  <div class="container mx-auto  pt-8">
    <slot />
  </div>
</section>
